.reviews {
    h2 {
        @include sq-bold(36px, 39px);
        margin: 0 auto;
        padding: 11px 0 38px;
        max-width: 725px;
        width: 100%;
        text-align: center;
        color: #0e0e0e;
        @media #{$tablet} {
                overflow: hidden;
            }
        @media #{$mobile} {
            padding-bottom: 10px;
            font-size: 20px;
            line-height: 30px;
        }
    }
    &__wrapper {
        position: relative;
        height: 622px;
        background: url('../img/bg-review.jpg') center center / cover no-repeat;
        @media #{$mobile} {
            height: 750px;
            overflow: hidden;
            background: url('../img/bg-review-m2.jpg') center center / cover no-repeat;
        }
    }
    &__sub-title {
        @include pr-bold(30px, 30px);
        position: absolute;
        margin-left: -190px;
        max-width: 415px;
        width: 100%;
        top: 0;
        left: 50%;
        text-align: center;
        color: $text;
        @media #{$mobile} {
            position: static;
            display: block;
            padding-top: 10px;
            margin: 0 auto;
            left: 0;
            color: #fff;
            font-size: 20px;
        }
    }
    &__block {
       padding-top: 40px;
        @media #{$mobile} {
            padding-top: 10px;
        }
    }
}